@font-face {
  font-family: jakarta;
  src: url(../../assets/fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: jakarta-bold;
  src: url(../../assets/fonts/PlusJakartaSans-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: jakarta;
}

@media (width > 768px) {
  body {
    background: hsl(202, 86%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100lvh;
  }
}

.container {
  padding-inline: 1.4rem;
  gap: 20px;
}
.container .wrapper .calculator {
  background: hsl(0, 0%, 100%);
}
.container .wrapper .calculator .header h5 {
  margin: 0.5rem 0;
}
.container .wrapper .calculator .label {
  margin: 10px 0;
  color: hsl(200, 24%, 40%);
}
.container .wrapper .calculator ul {
  margin-top: 20px;
}
.container .wrapper .calculator ul h6 {
  font-size: 16px;
  color: hsl(200, 24%, 40%);
}
.container .wrapper .calculator ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid hsl(203, 41%, 72%);
  padding: 0.8rem;
  border-radius: 3px;
  margin: 10px 0;
}
.container .wrapper .calculator ul li input {
  width: 15px;
  height: 15px;
}
.container .wrapper .calculator ul li:has(input:checked) {
  border-color: hsl(61, 70%, 52%);
  accent-color: hsl(61, 70%, 52%);
  outline: none;
}
.container .wrapper .calculator .btn {
  background: hsl(61, 70%, 52%);
  box-shadow: none;
  text-transform: capitalize;
  color: hsl(202, 55%, 16%);
  font-weight: 600;
  border-radius: 2em;
  margin-top: 10px;
  padding: 10px 20px;
}
@media (width < 425px) {
  .container .wrapper .calculator .btn {
    width: 100%;
  }
}
.container .result {
  background: #133040;
  width: 100lvw;
  margin-left: -1.5rem;
  margin-top: 20px;
  padding-block: 2em;
}
.container .result .empty {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.container .result .empty h5 {
  margin: 10px 0;
  font-weight: bold;
}
.container .result .empty p {
  opacity: 0.6;
}
.container .result .full {
  padding-inline: 2em;
}
.container .result .full .mortgage {
  padding: 15px;
  background: #0e2431;
  margin-top: 2em;
  border-radius: 10px;
  border-top: 3px solid hsl(61, 70%, 52%);
}
.container .result .full .mortgage .stack {
  color: hsl(61, 70%, 52%);
  align-items: center;
}
.container .result .full .mortgage .stack h4 {
  font-size: 3em;
}
.container .result .full p {
  opacity: 0.6;
  color: hsl(0, 0%, 100%);
}
.container .result .full h5 {
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}
.container a {
  color: hsl(200, 24%, 40%);
}
@media (width > 768px) {
  .container {
    background: hsl(0, 0%, 100%);
    padding-inline: 0;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 13em;
  }
  .container .calculator {
    padding: 10px 30px;
    width: 50%;
    border-radius: 15px;
  }
  .container .calculator .btn {
    margin: 15px 0;
    width: 65%;
  }
  .container .result {
    width: 50%;
    margin-top: 0;
    border: 2px solid hsl(202, 55%, 16%);
    border-bottom-left-radius: 4em;
    padding: 2em 0 5.1em 0;
  }
  .container .result .empty {
    padding: 4.4em 0.4em;
    width: 90%;
    margin-inline: auto;
  }
  .container .result .empty p {
    font-size: 11.4pt;
  }
  .container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
}
@media (width > 426px) {
  .container .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .container form .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}